#### Load libraries

In [ ]:
from bs4 import BeautifulSoup as bs
import requests
import lxml
import pandas as pd

#### get the soup and iterate through tables. 
For the last tabel  i did it individually , it had null value and had to clean that.

In [110]:
url ="https://www.cdc.gov/physicalactivity/data/inactivity-prevalence-maps/index.html"
page = requests.get(url)
soup = bs(page.content,'html.parser')
tables =soup.find_all('table')
table1=tables[0:3]
dbase=[get_db(tbl) for tbl in table1]
 # Each table can be accessed by indexing dbase[0],dbase[1]...etc

#### A funcition that takes table(soup) and convert it to data frame

In [ ]:
def get_db(tb):
    rows1=tb.find_all('tr')[2:]
    states=[tr.find('th').get_text() for tr in rows1]
    prevalence=[dt.find_all('td')[0].get_text() for dt in rows1]
    ci=[dt.find_all('td')[1].get_text() for dt in rows1]
    data=pd.DataFrame({
        'States':states,
        'Prevalence':prevalence,
        'CI':ci,
    })
    return(data)

####  table 4 with different dimentsion

In [105]:
tbl3 =tables[3]
row3 = tbl3.find_all('tr')[2:]
r =[r.find('th').get_text()  for r in row3[:53]]
s =[r.find('td').get_text()[0]  for r in row3[:53]]
t =[r.find('td').get_text()[1]  for r in row3[:53]]
data=pd.DataFrame({
        'States':r,
        'Prevalence':s,
        'CI':t,
    })
data

                  States Prevalence CI
0                Alabama          3  4
1                 Alaska          2  6
2                Arizona          2  7
3               Arkansas          3  4
4             California          2  3
5               Colorado          2  0
6            Connecticut          2  8
7               Delaware          3  1
8   District of Columbia          3  0
9                Florida          3  1
10               Georgia          3  1
11                Hawaii          2  6
12                 Idaho          I  n
13              Illinois          3  0
14               Indiana          3  1
15                  Iowa          2  8
16                Kansas          2  9
17              Kentucky          3  2
18             Louisiana          3  5
19                 Maine          2  9
20              Maryland          2  6
21         Massachusetts          2  7
22              Michigan          3  1
23             Minnesota          2  6
24           Mississippi          3  5
25              Missouri          3  5
26               Montana          I  n
27              Nebraska          2  5
28                Nevada          2  9
29         New Hampshire          3  2
30            New Jersey          3  2
31            New Mexico          2  3
32              New York          3  0
33        North Carolina          2  8
34          North Dakota          3  4
35                  Ohio          3  2
36              Oklahoma          3  3
37                Oregon          1  7
38          Pennsylvania          2  7
39          Rhode Island          2  8
40        South Carolina          3  1
41          South Dakota          I  n
42             Tennessee          3  2
43                 Texas          3  0
44                  Utah          2  3
45               Vermont          3  0
46              Virginia          2  9
47            Washington          2  1
48         West Virginia          2  9
49             Wisconsin          3  5
50               Wyoming          2  6
51                  Guam          I  n
52           Puerto Rico          I  n